name: norminette
on: [push, pull_request]
jobs:
  norminette:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Python for Norminette
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Python dependencies
        run: python -m pip install norminette
      - name: Run Norminette
        run: |
          output=$(norminette include src)
          echo "$output"
          echo "$output" | grep -q "Error!" && exit 1 || exit 0
